@model IEnumerable<Testdemo.Models.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="card-img-top" src="/Image/@item.Book.ImgUrl" alt="Card image cap">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Price)
            </td>
            <td>
                <input type = "text" class = "Quantity" value = "@item.Quantity"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Price * item.Quantity)
               
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
